/* Your CSS goes here */

#instructions {
    border: 1px dashed black;
    padding: 5px;
    margin: 5px;
}

input, textarea {
    background-color: #FFFF60;
}

label[for=last-name] {
    font-weight: bold;
}

form {
    line-height: 1.5em;
}

body {
    background-color: #A0FFC0;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

.center {
    text-align: center;
}